$background-color: #f2f2f2;
$color-default: #1698d9;
$color-default__hover: #2ea8e6;
$color-selected: #d91667;
$color-selected__hover: #e62e7a;
$color-disabled: #b3b3b3;
  $color-disabled-description: #ffff66;

.wrapper {
  margin: 0 4rem 0 4rem;
}

.card {
  position: relative;
  display: flex;
  width: 32rem;
  height: 48rem;
  cursor: pointer;
  z-index: 1;
  background-size: cover;
  stroke: #d91667;
  overflow: hidden;
}

.teaser {
  padding-top: 2rem;
  padding-left: 4.8rem;
  font-size: 1.6rem;
  font-family: "Trebuchet MS", serif;
  color: rgb(102, 102, 102);
  text-align: left;
  margin: 0;
}

.teaser_second {
  display: none;
  @extend .teaser;
  color: $color-selected__hover;
}

.title {
  font-family: "Trebuchet MS", sans-serif;
  margin: .5rem 0 0 4.6rem;
  padding: 0 0 0 0;
  text-align: left;
  font-size: 4.8rem;
  font-weight: bold;
  color: #000;
}

.taste {
  margin: 0 0 0 4.8rem;
  font-size: 2.4rem;
  font-family: "Trebuchet MS", sans-serif;
  color: #000;
  font-weight: bold;
  text-align: left;
}

.specifications {
  display: flex;
  flex-direction: column;
  min-height: 5rem;
  margin: .3rem 0 0 4.8rem;
  padding: 1rem 0 0;
  list-style-type: none;

  .specification {
    line-height: 1.6rem;
    font-size: 1.4rem;
    font-family: "Trebuchet MS", sans-serif;
    color: #666666;
  }
}

.cover {
  position: absolute;
  display: block;
  bottom: .4rem;
  left: .4rem;;
  border-bottom-left-radius: 1.2rem;
  height: 27rem;
  width: 26rem;
}

.circle {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: $color-default;
  text-align: center;

  .first_line {
    margin-top: .1rem;
    font-size: 4.2rem;
    font-family: "Trebuchet MS", serif;
    color: white;
  }

  .second_line {
    @extend .first_line;
    margin-top: -.5rem;
    font-size: 2.2rem;
    line-height: 2.2rem;
  }
}

.description {
  padding-top: 1.3rem;
  font-size: 1.3rem;
  font-family: "Trebuchet MS", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 1px 1px 1px black;
  margin: 0 0 3rem 0;

  a {
    color: $color-default;
    border-bottom: 1px dashed $color-default;
    cursor: pointer;
    text-decoration: none;
  }
}

.desc_disabled {
  composes: description;
  color: $color-disabled-description;
}

// Card way
.enable {
  composes: card;
  background-image: url("../images/enable.svg");
}

.enable_hover {
  composes: card;

  &:hover {
    background-image: url("../images/hover.svg");

    .circle {
      background-color: $color-default__hover;

    }
  }
}

.selected {
  composes: card;

  background-image: url("../images/selected.svg");

  .circle {
    background-color: $color-selected;
  }

  .description {

    .item-description__selected {
      display: block;
    }
  }
}

.selected_hover {
  composes: selected;

  &:hover {
    background-image: url("../images/selected-hover.svg");

    .circle {
      background-color: $color-selected__hover;
    }

    .teaser {
      display: none;
    }

    .teaser_second {
      display: block;
    }

  }
}

.disabled {
  composes: card;
  background-image: url("../images/disable.svg");

  .title,
  .taste,
  .teaser,
  .specification {
    color: $color-disabled;
  }

  .circle {
    background-color: $color-disabled;
  }

  .cover {
    opacity: 0.5;
  }

  .disabled {
    div {
      color: $color-disabled-description;
    }
  }

  &:hover {
    background-image: url("../images/disable.svg");

    .circle {
      background-color: $color-disabled;
    }
  }
}